body, html {
	background-color : #000000;
	color : #ACFFFA;
	border-width : 0pt;
	border-color : transparent;
	font-family : cursive;
	font-size : 14pt;
	font-weight : 600;
	font-style : normal;
	font-variant : small-caps;
}
